@media (max-width: 600px) {
  .mobile-nav { display: block; }
  .web-nav { display: none; }
  }

@media (min-width: 600px) {
  .mobile-topbar { display: none; }
  }

.mobile-topbar {
	height: 50px;
}

blockquote.twitter-tweet {
  background-color: #f0f0f0;
  padding: 1rem .5rem 1rem 1.5rem;
  border-left: 5px solid #55acee;
  line-height: 1.5rem;
  font-size: .8rem;
}

blockquote.twitter-tweet p {
  font-size: 1.5rem;
}

.menu {
  background:#fff;
  height:50px;
  position:absolute;
  top:0px;
  width:100%;
  border-bottom: 1px solid rgba(0,0,0,.2);
}
.fixed {
  position:fixed;
  top:0;
}

.logo {
  color: #24BCF4;
  height: 40px;
  width: 87px;
  background-image: url(../images/second-screen.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size:100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
}

.mobile-topbar .logo {
  height: 35px;
  width: 76px;
}

footer {
padding-bottom:5rem;
}

.huge {
  font-size: 4.5rem;
  line-height: 4.5rem;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, .2);
}

.dek {
  margin-top: 1rem;
  width: 70%;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, .2);
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media (max-width: 600px) {
    .huge {
    font-size: 3rem;
    line-height: 3.5rem;
    }
}

#pre-slider{
  position: absolute;
  z-index: 1001;
  width: 100%;
  padding: 20px 30px;
  top: 50px;
  /* display: none; */
  /* height: 30px; */
  background-color: #fff;
}
#slider{
  width:88%;
}

nav{
  padding:5px;
  -webkit-box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.75);
}

img.settings{
  width: 35px;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
  cursor:pointer;
}

/*section.imgcredit{
  margin-top:-25px;
  color:#fff;
}

section.centered{
  -webkit-box-shadow: inset 0px 2px 5px 2px rgba(0,0,0,0.34);
  -moz-box-shadow: inset 0px 2px 5px 2px rgba(0,0,0,0.34);
  box-shadow: inset 0px 2px 5px 2px rgba(0,0,0,0.34);
}*/

.index{
  background-color: #e1e1e1;
  margin: 0px;
}

.index div{
  font-family: 'Helvetica Neue';
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.index div.first{
  background-color: #fff;
  padding: 20px;
}

.index p{
  font-size: 26px;
  margin-bottom: .5em;
}

.index div input{
  margin-bottom: 20px;
  font-size: 26px;
  border-radius: 3px;
  border: solid 1px #ccc;
}

.index div button{
  font-size: 26px;
  padding: 10px;
  background-color: #00b0fb;
  color: white;
  border-width: 0px;
  border-radius: 3px;
}
