video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto;
  /*z-index: -100;
  background: url(test.jpg) no-repeat;*/
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}
.bgvid {
  opacity: 1;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

body{
  background-color: #333;
  background-image: url(../images/second-screen.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size:50% 50%;
  -o-background-size: 50% 50%;
  -webkit-background-size: 50% 50%;
}

.fadedlogo{
  background-position: 90% 90%;
  background-size:10% 10%;
  -o-background-size: 10% 10%;
  -webkit-background-size: 10% 10%;
}
